<!DOCTYPE html>
<html>
<title>AB-Architects</title>
<meta charset="UTF-8">
<meta name = "viewport" content="width=device-width, inital-scale=1">
<link rel = "stylesheet" href="w3.css">
<body>
    <%- include('titles/navbar') %>
    <%- include('titles/header') %>
    <div class = "w3-content w3-padding" style="max-width:1564px;">
        <%- include('titles/products') %>
        <%- include('titles/about') %>
        <%- include('titles/contact') %>
    </div>
    <%- include('titles/footer') %>
</body>
</html>